.fold-panel {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 0.2rem;
}

.fold-panel header {
    cursor: pointer;
}

.fold-panel .toggle-icon {
    color: rgba(255, 255, 255, 0.54);
}

.fold-panel .header-content {
    display: inline-block;
}

.fold-panel main {
    padding: 0.2em;
}
