.fold-panel {
}

.fold-panel header {
    cursor: pointer;
}

.fold-panel .toggle-icon {
    color: rgba(0, 0, 0, 0.54);
}

.fold-panel .header-content {
    display: inline-block;
}

.fold-panel main {
    padding: 0.2em;
}
