.notification {
    background-color: lightgray;
    padding: 1.2rem;

    margin-left: 0;
    transition-property: margin-left;
    transition-duration: 200ms;
}

.notification.hide {
    margin-left: -30rem;
}
