body {
    overflow-y: scroll;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.loading-icon {
    text-align: center;
    margin: 100px auto;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    min-width: 30em;
    padding: 1rem;
}

.overlay.controls {
    top: 5em;
    left: 5em;
}

.overlay.info {
    top: 5em;
    right: 5em;
}

.overlay.shortcuts {
    bottom: 5em;
    right: 5em;
}

.overlay .label {
    font-weight: bold;
    margin-right: 2em;
}


.full-img {
    width: 100%;
    min-height: 100vh;
}
